body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.grid_container {
    width: 480px;
    height: 480px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 20px;
}